@require 'deepgarden'

input()
	color: $palette.base
	background: #FFF
	border: 1px solid $palette.border
	border-radius: 3px
	height: 2.25em

._Input
	display: inline-block
	vertical-align: middle

	.-Bigger &
	&.-Bigger
		font-size: 1.1em

	.-Biggest &
	&.-Biggest
		font-size: 1.3em

	.-Smaller &
	&.-Smaller
		font-size: 0.9em

	.-Smallest &
	&.-Smallest
		font-size: 0.8em