@require 'deepgarden'
@require '../input.styl'

.--Textarea

	&._Input__Input
		dgInput()
		height: 100%

		textarea
			resetInput()
			width: 100%
			height: 100%
			max-width: 100%
			padding: 5px
			resize: none