@require 'deepgarden'
@require '../input.styl'

._CheckboxInput
	input()
	position: relative
	font-size: 1rem !important
	width: 1em
	height: 1em
	padding: 2px

	input
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		width: 100%
		height: 100%
		opacity: 0

	&.-isChecked
		border: 1px solid $palette.notice.color
		background: $palette.notice.color

		&::before
			content: ' '
			display: block
			width: 50%
			height: 100%
			border: 2px solid #FFF
			border-top: 0
			border-left: 0
			margin: 0 auto
			box-sizing: border-box
			transform: rotate(35deg)

&.--Checkbox

	&._Input__Input
		dgInput()
		width: 16px
		height: 16px
		border-radius: 100%
		padding: 3px

		&.-isChecked

			&::before
				content: ' '
				display: block
				width: 8px
				height: 8px
				position: absolute
				background: $palette.accent
				border-radius: 100%